#field td {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}

#field {
    border: 3px solid silver;
    margin: auto;
    padding: 10px;
}

button {
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    margin: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.finishMessage {
    text-align: center;
    padding: 1em;
    margin: auto;
    display: block;
}